body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: #212121;
  font-size: 14px;
  background-color: #ffffff;
}
:root {
  --header-color: #212121;
  --btn-color: #ffffff;
  --accent-color: #2196f3;
  --first-title-color: #ffffff;
  --color-third: #757575;
  --color-back: #000;
  --color-hero: #2f303a;
  --footer-color: rgba(255, 255, 255, 0.6);
  --btn-portfolio-color: #f5f4fa;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* -------------HEADER------------- */

.header-logo,
.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--color-back);
}

.logo-blue {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
}

.current {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus,
.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

.header-contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-third);
}

/* -----------------HERO------------------*/

.hero {
  background-color: var(--color-hero);
}

.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-title-color);
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-color);
  background-color: var(--accent-color);
}

/* ----------------ABOUT------------*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.about-adventages {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.about-adventages-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-third);
}

/*-------------------FEATURES--------------*/

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/*--------------------TEAM--------------*/

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  color: var(--color-third);
}

/*--------------FOOTER------------*/

.footer {
  background: var(--color-hero);
}

.footer-item-adress {
  font-style: normal;
  font-weight: normal;
  line-height: 1.71;
  color: var(--first-title-color);
}

.footer-item-mail,
.footer-item-phone {
  font-style: normal;
  font-weight: normal;
  line-height: 1.71;
  color: var(--footer-color);
}
.footer-item-adress:hover,
.footer-item-adress:focus,
.footer-item-mail:focus,
.footer-item-mail:hover,
.footer-item-phone:focus,
.footer-item-phone:hover {
  color: var(--accent-color);
}

.logo-footer {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--first-title-color);
}

/*-----------PORTFOLIO-------------*/

.btn-portfolio {
  background: var(--btn-portfolio-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 6px 22px;
  font-family: inherit;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  background: var(--accent-color);
  border-radius: 4px;
  color: var(--first-title-color);
}

.portfolio-description {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);
}

.portfolio-txt {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-third);
}

.btn-portfolio.active {
  background-color: var(--accent-color);
  color: var(--btn-color);
}
